#title {
    color: #000;
}

#title:hover {
    color: #f5d742;
}

#date {
    color: #333;
}

QListWidget {
    background-color: transparent;
    border: none
}

QListWidgetItem {
    padding: 0px;
}

QStackedWidget {
    background-color: transparent;
}

#error {
    color: #f5d742;
    background-color: #333333;
    border: 2px solid #f5d742;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
}
