# 自动锁定
handlers:
  # 优化后的处理程序 1：锁定丢失超过三秒，且未近距离锁定，重新锁定
  # 明确排除“目标-近距离锁定”的状态，确保只在没有目标时尝试重新锁定。
  - states: "![按键可用-连携技, 0, 12] & ![自定义-失衡时间, -10, 12] & ![自定义-锁定冷却, 0, 5]"
    debug_name: "非失衡期间"
    sub_handlers:
    - states: "[自定义-锁定丢失, 3, 99]"
      debug_name: "锁定丢失超过三秒，重新锁定"
      operations:
        - op_name: "按键-锁定敌人-松开"
        - op_name: "等待秒数"
          seconds: 0.02
        - op_name: "按键-锁定敌人-按下"
        - op_name: "设置状态"
          state: "自定义-锁定冷却"