template_name: "速切模板-11号"
handlers:
  - states: "[前台-11号]"
    interrupt_states: "[前台-能量, 0, 0.1] & ![前台-11号]"
    sub_handlers:
      - states: "[自定义-黄光切人, 0, 1]"
        operations:
          - operation_template: "通用-支援攻击"

      - states: "[自定义-红光闪避, 0, 1]"
        operations:
          - op_name: "按键-普通攻击-按下"
          - op_name: "等待秒数"
            seconds: 1

      - states: "[自定义-连携换人, 0, 0.5]"
        operations:
          - operation_template: "通用-连携攻击"

      # 初始化入场状态
      - states: "([按键-切换角色-下一个, 0, 0.3]|[按键-切换角色-上一个, 0, 0.3])"
        debug_name: "切人后等待"
        operations:
          - op_name: "等待秒数"
            seconds: 0.3

      - states: "[11号-终结技可用]"
        interrupt_states: "![11号-终结技可用]"
        operations:
          - operation_template: "通用-终结技"

      - states: "[11号-特殊技可用]"
        operations:
          - op_name: "按键-特殊攻击"
            post_delay: 1.2

      - states: ""
        interrupt_states: "[11号-特殊技可用] | [11号-终结技可用]"
        operations:
          - operation_template: "11号-火刀八连"